@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather+Sans:wght@700&family=Raleway:wght@300&family=Source+Code+Pro:wght@300&display=swap");

:root {
  /* Dark shades of primary color */
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* Praimary main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* Dark shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);

  /* darkest grey used for heading */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;

  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Baloo Bhai 2", cursive;
  --ff-secondary: "Bree Serif", serif;

  --transition: all 0.3s linear;

  --spacing: 0.1rem;
  --radius: 0.5rem;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Baloo Bhai 2', cursive; 
font-family: 'Merriweather Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-grey-10);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  font-family: "Baloo Bhai 2", cursive;
  box-shadow: var(--light-shadow);
  margin-bottom: 75px;
  /* border: 2px solid red; */
}
.nav-left p {
  font-size: 1.3rem;
}
.nav-right ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  font-size: 0.95rem;
}
.nav-right ul li {
  padding: 0 10px;
}
.nav-right ul li a {
  text-decoration: none;
  color: black;
}
#nav-btn {
  color: #007bff;
  padding: 0.575rem 0.75rem;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  background-image: none;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  user-select: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#nav-btn:hover {
  background-color: #007bff;
  color: white;
}

/* main static container */
.main-header {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.main-header h2 {
  font-size: 2rem;
}
.main-header p {
  font-size: 1rem;
}
/* main card container */
.main-cards {
  display: flex;
  place-items: center;
  justify-content: center;
}
.card {
  width: 260px;
  height: 297px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border: 0.2px solid rgb(202, 196, 196);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--light-shadow);
  border-radius: 4px;
  margin: 12.5px;
  cursor: pointer;
}
.card-title {
  padding: 0.5rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 450;
}
.card-list {
  margin-bottom: 1.5rem;
  list-style: none;
}

.monthly-fee {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  font-size: 2.5rem;
  padding-bottom: 0.4rem;
}

.text-muted {
  color: #212529;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.8rem;
}
.card-list {
  line-height: 1.5;
  color: #212529;
}
.card-body {
  padding-top: 10px;
  font-size: 0.85rem;
}
.free-btn {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  width: 88%;
  border-radius: 4px;
  border-width: 0.5px;
  padding: 10px 0;
  font-size: 1.125rem;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 100;
}
.free-btn:hover {
  background-color: #007bff;
  color: white;
}
.card-btn {
  color: white;
  background-color: #007bff;
}
.card-btn:hover {
  background-color: #0060c7;
}

/* contact form and animations */

.form {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  visibility: hidden;
  opacity: 1;
  transition: all 0.5s linear;
  backdrop-filter: blur(8px);
}
.active {
  visibility: visible;
}

.form.active {
  animation: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade {
  animation: slideout 1s ease-in-out forwards;
}
@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}
.contact-form {
  width: 480px;
  font-family: "Source Code Pro", monospace;
  padding: 40px 60px;
  background-color: var(--clr-white);
  box-shadow: var(--dark-shadow);
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: 0.4s;
}
.contact-form:hover {
  background-color: var(--clr-grey-10);
}

.contact-form h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
  color: var(--clr-grey-1);
  text-align: center;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 5px;
  margin: 6px 0;
}
.mb-3 input {
  padding: 6px 2px;
  outline: none;
  font-size: 1rem;
}
.form-text {
  padding: 6px 0px;
  font-size: 8px;
  margin: 0px 5px;
  color: midnightblue;
}

.submit-button {
  margin-top: 10px;
}
.form-check {
  display: flex;
  flex-direction: row;
}

label {
  font-size: 1.2rem;
}
#emailHelp {
  font-size: 0.8rem;
}
.isClient1 {
  font-size: 0.9rem;
  margin-left: 4px;
}

#close-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.8rem;
  height: 30px;
  width: 30px;
  display: flex;
  place-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 14px;
  cursor: pointer;
}
.submit-button {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: background-color 0.3s linear;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 0.6rem 1.25rem;
  margin-top: 20px;
}

.submit-button:hover {
  background: #222;
  color: var(--clr-grey-10);
}

/* slider and cards*/

#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.card-slider {
  width: 440px;
  height: 380px;
  position: relative;
}
.card-list-slider li {
  font-size: 16px;
  line-height: 2;
}
#slide-left {
  position: absolute;
  left: -60px;
  top: 145.5px;
  color: var(--clr-primary-4);
  font-size: 2.75rem;
  background: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  border: #fff;
}
#slide-left:hover,
#slide-right:hover {
  color: var(--clr-primary-5);
}
#slide-left:i,
#slide-right:i {
  font-size: 4rem;
}

#slide-right {
  position: absolute;
  right: -60px;
  top: 145.5px;
  color: var(--clr-primary-4);
  font-size: 2.75rem;
  background: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  border: #fff;
}

#slider {
  visibility: hidden;
  backdrop-filter: blur(100px);
  transition: all 0.5s linear;
  opacity: 1;
  /* z-index: 10px; */
}
.actives {
  visibility: visible !important;
}

#slider.actives {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-btn {
  padding: 13.75px;
}
.ct-slider {
  font-weight: 500;
  letter-spacing: 2px;
  padding: 13px;
}

/* Api start header */

.mid-header {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 100px;
}

/* news article container and cards*/

.cards-container {
  justify-content: space-between;
  place-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-inline: 100px;
  column-gap: auto;
  row-gap: 30px;
  align-items: start;
  width: 80%;
  margin: 0 auto;
  box-shadow: 5px 10px 10px var(--clr-grey-5);
  background-color: var(--clr-grey-10);
  padding-top: 60px;
  z-index: 0;
  transition: var(--transition);
  /* border: 2px solid red; */
}

.news-card {
  /* border: 2px solid var(--clr-grey-5); */
  width: 360px;
  min-height: 450px;
  max-height: 450px;
  box-shadow: 0 0 4px #d4ecff;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: var(--clr-grey-9);
  box-shadow: var(--light-shadow);
}

.news-card:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  background-color: var(--clr-grey-8);
  transform: translateY(-2px);
}

.news-card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.news-source {
  margin-block: 12px;
}

#cards-container article a {
  text-decoration: none;
  color: black;
  font-family: var(--ff-primary);
}
#cards-container article a:visited {
  color: black;
}
#cards-container article a:active {
  color: black;
}
@media (min-width: 800px) and (max-width: 1400px) {
  .cards-container {
    grid-template-columns: auto auto;
    padding-inline: 30px;
    row-gap: 10px;
    width: 90%;
    padding-top: 40px;
  }
}
/* Ecom container and cards */
#ecom-container {
  justify-content: space-between;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-inline: 150px;
  column-gap: auto;
  row-gap: 30px;
  align-items: start;
  width: 80%;
  margin: 0 auto;
  box-shadow: 5px 10px 10px var(--clr-grey-5);
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 0;
  margin-bottom: 80px;
  transition: var(--transition);
}
@media (min-width: 600px) and (max-width: 1300px) {
  #ecom-container {
    width: 90%;
    padding: 30px 10px;
  }
}
.ecom-card {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #e74c3c;
  margin: 0;
}

.add-to-cart {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #2980b9;
}

/* midway header */

.midway {
  padding: 80px 0;
  text-align: center;
}
.midway i {
  font-size: 2rem;
  color: red;
  margin: 0 20px;
  animation: jump 5s ease-in-out infinite;
}
@keyframes jump {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.midway h1 {
  display: inline;
}

/* footer */

footer {
  width: 100%;
  height: 150px;
  background-color: #003750;
}

.footer-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 2px solid gray; */
  justify-content: center;
  flex-direction: row;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 30px;
  /* align-items: center; */
  /* border: 2px solid gray; */
  justify-content: center;
}

.footer-logo-link {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid gray; */
  justify-content: center;
}
.footer-logo {
  height: 100%;
  width: 100px;
}
.footer-logo img {
  height: 100%;
  width: 100%;
}

.footer-img {
  cursor: pointer;
  margin-right: 50px;
  display: block;
  /* border: 2px solid red; */
  width: 25px;
  height: 25px;
  border-radius: 4px;
}
.footer-img img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
#footer-span {
  position: relative;
  margin: 0 16px;
}
#footer-span::before {
  content: "|";
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  top: -10px;
}

.footer-text {
  font-size: large;
  color: white;
}
